* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-img{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    /*filter: opacity(80%) blur(2px);*/
    /*-webkit-filter: opacity(80%) blur(2px);*/
}

#background-copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    text-decoration: none;
    opacity: 0.9;
    color: #212121;
}

.svg-icon{
    fill: #212121;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #eeeeee;
}

.news-wrapper {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top:60%;
    left:0;
    right:0;
    transform: translateY(-50%);
    margin: 0 auto;
    width: calc((1 * 360px) + 2px);
    padding: 5px 1px;
}

.news-wrapper .arrow{
    position: absolute;
    border: 3px solid rgba(0,0,0,0);
    border-radius: 50px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    opacity: .8;
    cursor: pointer;
    background: rgba(255,255,255,.8);
    transition: all 128ms ease-in-out;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
}

.news-wrapper .arrow:hover{
    opacity: 1;
}

.news-wrapper .arrow:active{
    transform: translateY(-50%) scale(0.9);
}

.news-wrapper .arrow.left{
    left: -80px;
}
.news-wrapper .arrow.right{
    right: -80px;
}

.news-wrapper > .mdl-card{
    margin: 0 15px;
    visibility: hidden;
    border-radius: 3px;
    flex-shrink: 0;
    flex-grow: 0;
    z-index: -1;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.3)
}

.news-wrapper > .mdl-card:nth-child(3){
    visibility: visible;
    animation: showNews 256ms ease-in-out;
}

/*LEFT*/
.news-wrapper > .mdl-card.left:nth-child(3){
    visibility: visible;
    animation: goLeft2 256ms ease-in-out;
}
.news-wrapper .mdl-card.left:last-child{
    visibility: hidden;
    margin-left: -345px;
    order: -1;
    animation: goLeft3 256ms ease-in-out;
}
/*RIGHT*/
.news-wrapper > .mdl-card.right:nth-child(3){
    visibility: visible;
    animation: goRight2 256ms ease-in-out;
}
.news-wrapper .mdl-card.right:nth-child(4){
    visibility: hidden;
    animation: goRight3 256ms ease-in-out;
}

@media screen and (min-width: 1000px){
    .news-wrapper{
        width: calc((2 * 360px) + 2px);
    }
    .news-wrapper > .mdl-card:nth-child(4){
        visibility: visible;
        animation: showNews 256ms ease-in-out;
    }

    /*LEFT*/
    .news-wrapper > .mdl-card.left:nth-child(3){
        visibility: visible;
        animation: goLeft 256ms ease-in-out;
    }
    .news-wrapper > .mdl-card.left:nth-child(4){
        visibility: visible;
        animation: goLeft2 256ms ease-in-out;
    }
    /*RIGHT*/
    .news-wrapper > .mdl-card.right:nth-child(5){
        visibility: hidden;
        animation: goRight3 256ms ease-in-out;
    }
    .news-wrapper > .mdl-card.right:nth-child(4){
        visibility: visible;
        animation: goRight 256ms ease-in-out;
    }
}

@media screen and (min-width: 1400px){
    .news-wrapper{
        width: calc((3 * 360px) + 2px);
    }
    .news-wrapper > .mdl-card:nth-child(5){
        visibility: visible;
        animation: showNews 256ms ease-in-out;
    }

    /*LEFT*/
    .news-wrapper > .mdl-card.left:nth-child(4){
        visibility: visible;
        animation: goLeft1 256ms ease-in-out;
    }
    .news-wrapper > .mdl-card.left:nth-child(5){
        visibility: visible;
        animation: goLeft2 256ms ease-in-out;
    }
    /*RIGHT*/
    .news-wrapper > .mdl-card.right:nth-child(6){
        visibility: hidden;
        animation: goRight3 256ms ease-in-out;
    }
    .news-wrapper > .mdl-card.right:nth-child(5){
        visibility: visible;
        animation: goRight1 256ms ease-in-out;
    }
}

.mdl-card__title{
    height: 190px;
    backface-visibility: hidden;
}

.mdl-card__title-text{
    display: block!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400!important;
    color: white!important;
    background: rgba(0,0,0,.4);
    margin: -16px!important;
    padding: 16px;
}

.mdl-card__supporting-text {
    height: 142px;
    max-height: 142px;
    margin-bottom: 16px;
    position: relative;
}

.mdl-card__supporting-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

/*SideMenu*/

#open-menu-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 180ms ease-in-out;
    z-index: -100;
    background: none;
}

#open-menu-overlay.in{
    z-index: 999;
    background: rgba(0,0,0,.3);
}

#side-nav{
    position: absolute;
    left:0;
    bottom:0;
    top:0;
    width: 256px;
    background: #fff;
    transform: translateX(-100%);
    z-index: 1000;
    transition: transform 180ms ease-in-out;
    overflow-y: auto;
}

.nav-header,
#side-nav .header{
    padding-left: 10px;
    height: 64px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.nav-header .svg-icon,
#side-nav .header .svg-icon{
    cursor: pointer;
}

.nav-header .svg-icon{
    fill: #fff;
    opacity: .8;
    transition: all 128ms ease-in-out;
}
.nav-header .svg-icon:hover{
    opacity: 1;
    transform: rotate(60deg);
}

#side-nav{
    padding:20px;
}
#side-nav .header{
    margin: -20px;
}
#side-nav.open{
    transform: translateX(0);
}

#side-nav h1.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.radio-wrapper {
    display: flex;
    flex-direction: column;
}
.radio-wrapper .radio-option:last-child {
    margin-bottom: 0;
}
.radio-wrapper .radio-option {
    margin-bottom: 15px;
    position: relative;
    align-items: center;
    display: flex;
}
.radio-wrapper .radio-option i {
    margin-right: 15px;
}
.radio-wrapper .radio-option input[type=radio] {
    display: none;
}
.radio-wrapper .radio-option label:after,
.radio-wrapper .radio-option label:before {
    transition: all 300ms;
    cursor: pointer;
}
.radio-wrapper .radio-option label:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top:3px;
    width: 36px;
    height: 15px;
    background: #bcbbbb;
    border-radius: 50px;
}
.radio-wrapper .radio-option label:after {
    content: "";
    width: 15px;
    height: 15px;
    padding: 3px;
    background: #F1F1F1;
    position: absolute;
    border-radius: 50px;
    right: 16px;
    top: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
.radio-wrapper .radio-option input[type=radio]:checked + label:before {
    content: "";
    background: #9999B9;
}
.radio-wrapper .radio-option input[type=radio]:checked + label:after {
    content: "";
    width: 15px;
    height: 15px;
    padding: 3px;
    background: #010050;
    position: absolute;
    border-radius: 50px;
    right: -1px;
    top: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}




/*KEYFRAMES*/

@keyframes showNews{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes goLeft{
    0%{
        transform: translateX(calc(100% + 30px));
    }
    100%{
        transform: translateX(0)
    }
}
@keyframes goLeft1{
    0%{
        transform: translateX(calc(100% + 30px));
    }
    100%{
        transform: translateX(0)
    }
}
@keyframes goLeft2{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(calc(100% + 30px));
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0)
    }
}
@keyframes goLeft3{
    0%{
        opacity:1;
        visibility: visible;
        transform: translateX(calc(100% + 30px));
    }
    100%{
        opacity:0;
        visibility: hidden;
        transform: translateX(0);
    }
}
@keyframes goRight{
    0%{
        transform: translateX(calc(-100% - 30px));
    }
    100%{
        transform: translateX(0)
    }
}
@keyframes goRight1{
    0%{
        transform: translateX(calc(-100% - 30px));
    }
    100%{
        transform: translateX(0)
    }
}
@keyframes goRight2{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(calc(-100% - 30px));
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0)
    }
}
@keyframes goRight3{
    0%{
        opacity:1;
        visibility: visible;
        transform: translateX(calc(-100% - 30px));
    }
    100%{
        opacity:0;
        visibility: hidden;
        transform: translateX(0);
    }
}